RewriteEngine On
RewriteBase /
RewriteCond $1 !^(index\\.php|resources|robots\\.txt)
#RewriteCond $1 !^(index\.php|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ /admin/$1 [L]
#RewriteRule ^(.*)$ index.php/$1 [L]
RewriteRule ^(.*)$ /index.php?/$1 [L,QSA]

# force use www
#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#force https:// for all URLs
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# force https:// for all except some selected URLs    

#RewriteCond %{HTTPS} off
#RewriteCond %{THE_REQUEST} !/adfj234kdcnbjh67sand/ [NC]
#RewriteCond %{THE_REQUEST} !/admin/ [NC]
#RewriteCond %{THE_REQUEST} !/api/ [NC]
#RewriteRule ^(.*)$ /admin/$1 [L]
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#Options All -Indexes
#ErrorDocument 404 https://www.go3jek.com
#ErrorDocument 500 https://www.go3jek.com

# Do not change this line.
#RewriteEngine on
# Change example.com to be your main domain.
#RewriteCond %{HTTP_HOST} ^(www.)?go3jek.com$
# Change 'subdirectory' to be the directory you will use for your main domain.
#RewriteCond %{REQUEST_URI} !^/admin/
# Don't change the following two lines.
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
# Change 'subdirectory' to be the directory you will use for your main domain.
#RewriteRule ^(.*)$ /admin/$1
# Change example.com to be your main domain again.
# Change 'subdirectory' to be the directory you will use for your main domain
# followed by / then the main file for your site, index.php, index.html, etc.
#RewriteCond %{HTTP_HOST} ^(www.)?go3jek.com$
#RewriteRule ^(/)?$ admin/index.php [L]